body {
    padding-top: 50px;
}

ul.social{
    padding:0;
    margin:1em 0 0.5em 0;
}
ul.social li{
    display:inline-block;
    margin:0 5px;
}
ul.social li i{
    width:70px;
    height:70px;
    background:url(../img/social-icons.png)no-repeat;
    display:inline-block;
    cursor:pointer;
}
ul.social li i:hover{
    opacity:0.5;
}
ul.social li i.fa{
    background-position:0px 0px;
}
ul.social li i.fb{
    background-position:-70px 0px;
}
ul.social li i.fc{
    background-position:-142px 0px;
}